body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 203, 218);
}
nav{
    padding: 1px 0 1px 0;
    background-color: rgb(190, 22, 34);
    filter: drop-shadow(0px 2px 2px gray);
}
.navLinks{
    padding: 2px;
    background-color: rgb(146, 16, 24);
}
.navLinks ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px 10% 2px 10%;
    overflow: hidden;
  }
  .navLinks li{
    float: left;
  }
.navLinks a{
    margin: 2px;
    padding: 2px;
    color: black;
    text-decoration: none;
}
.navLinks a:hover{
    background-color: rgb(52, 112, 143);
}
.navTitle{
    padding: 2px 10% 2px 10%;
    margin: .2rem;
}
.Content{
    padding: 1% 1% 1% 1%;
    margin: 0 10% 10% 10%;
    filter: drop-shadow(0px 5px 2px gray);
    background-color: white;
}
.videoEmbed{
    margin : 0 1rem 1rem 1rem;
    padding : 1rem;
}
.videoIframe{
    margin : 1rem;
    padding : 1rem;
}
.videoEmbed video{
    width : 50%;
}
.videoIframe iframe{
    width : 50%;
    height : 20rem;
    border : 0;
}

img.arrPic{
    width: 100px;
    height: 100px;
}